body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2c28;
    color: #028090;
    font: caption;
}

#whole{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.back{
    font-size: 1.1em;
    color: #028090;
    cursor: pointer;
    margin-top: 10px;
}

#board{
    display: grid; /*none*/
    /*display: grid;*/
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
}
 
.tile{
    color: currentColor;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-border{
    border-right: 0.2em solid #456990;
}

.bottom-border{
    border-bottom: 0.2em solid #456990;
}

.strike{
    position: absolute;
    background-color: #e4fde1;
}

.strike-row-1{
    justify-self: center;
    width: 90%;
    height: 5px;
    top: 15%;
    border-radius: 10px;
}
.strike-row-2{
    justify-self: center;
    width: 90%;
    height: 5px;
    top: 48.5%;
    border-radius: 10px;
}
.strike-row-3{
    justify-self: center;
    width: 90%;
    height: 5px;
    top: 83%;
    border-radius: 10px;
}

.strike-col-1{
    align-self: center;
    height: 90%;
    width: 5px;
    left: 14.75%;
    border-radius: 10px;
}
.strike-col-2{
    align-self: center;
    height: 90%;
    width: 5px;
    left: 48%;
    border-radius: 10px;
}
.strike-col-3{
    align-self: center;
    height: 90%;
    width: 5px;
    left: 82.5%;
    border-radius: 10px;
}

.strike-diag-1{
    justify-self: center;
    align-self: center;
    width: 112%;
    height: 5px;
    top: 49%;
    transform: rotate(45deg);
    border-radius: 10px;
}

.strike-diag-2{
    justify-self: center;
    align-self: center;
    width: 112%;
    height: 5px;
    top: 48%;
    transform: rotate(-45deg);
    border-radius: 10px;
}

h1{
    color: currentColor;
    display: block; /*none*/

}

#game-over-area{
    text-align: center;
    border: #114b5f 4px solid;
    padding: 10px;
    width: 125px;
    margin-top: 30px;
    border-radius: 20px;
}

h2{
    color: #f45b69;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h3{
    color:#028090;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 15px;
}

#play-again{
    background-color: transparent;
    color: #028090;
    border: currentColor 1px solid;
    padding: 7px;
    font-size: 1em;
    cursor: pointer;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

.x-hover:hover::after{
    content:"X";
    opacity: 0.4;
}

.o-hover:hover::after{
    content:"O";
    opacity: 0.4;
}

#loginbox{
    display: none;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: #028090 solid;
    border-radius: 20px;
    padding: 10px;
}
#fields{
    display: flex;
    flex-direction: column;
    width: 200px;
    /*border: red;*/
    text-align: left;
    margin-bottom: 10px;
}

#user{
    border-radius: 4px;
    margin-bottom: 8px;
}

#pass{
    border-radius: 4px;
}

#loginButton{
    margin-top: 10px;
    align-self: center;
    width: 75px;
}

#split{
    display: flex;
}

#rightbox{
    position:static;
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 20px;
    text-align: center;
    /*border: red solid 2px;*/
    align-items: center;
    width: 160px;
}

#scoretitle{
    display: block;
    font-size: 23px;
    color: #f45b69;
}

#scoreboard{
    display: grid;
    margin-top: 5px;
    grid-template-columns: 70px 70px;
    grid-template-rows: 30px 65px;
    /*background-color: black;*/
    height: fit-content;

    /*border: red solid 2px;*/
}

.top-left{
    border-bottom:#456990 5px solid;
    border-right: #456990 2.5px solid;
    margin-top: 3px;
    font-size: larger;
}

.top-right{
    border-bottom: #456990 5px solid;
    border-left: #456990 2.5px solid;
    margin-top: 3px;
    font-size: larger;
}

.bot-left{
    border-right: #456990 2.5px solid;    
}

.score{
    font-size: 35px;
    align-self: center;
    margin-top: 8px;
}

.bot-right{
    border-left: #456990 2.5px solid;
}